*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    /* position: relative; */
    overflow-x: hidden;
}

header {
    padding: 0.8rem 0;
}

header {
    background-color: rgb(226, 244, 252);
}
canvas{color:rgb(15, 15, 15);}

li a{
    text-decoration: none;
    color: black;
}

header ul li{
   list-style-type: none;
   display: inline-block;
}

a:hover{
    text-decoration: none;
    color: black;
}

.nav-pills li:hover{
   /* box-shadow: 3px 3px 3px rgb(204, 204, 204); */
}

#myTab li.active{
    background-color: aliceblue;
}

#myTab a{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

#myTab li a.active{
    background-color: rgb(255, 255, 255);
}

package-header{
    box-shadow: 0px 1px 0px 0px rgb(231, 231, 231);
}



.itinerary .day-1::before{
  content:" 1 ";
  padding: 10px;
  font-size: 22px;
  position: absolute;
  left: 3.7rem;
  color:white;
  background-color: rgb(12, 107, 185);
  border-radius: 60%;
}
.itinerary .day-2::before{
  content:" 2 ";
  padding: 10px;
  font-size: 22px;
  position: absolute;
  left: 3.7rem;
  color:white;
  background-color: rgb(12, 107, 185);
  border-radius: 50%;
}
.itinerary .day-3::before{
  content:" 3 ";
  padding: 10px;
  font-size: 22px;
  position: absolute;
  left: 3.7rem;
  color:white;
  background-color: rgb(12, 107, 185);
  border-radius: 50%;
}
.itinerary .day-4::before{
  content:" 4 ";
  padding: 10px;
  font-size: 22px;
  position: absolute;
  left: 3.7rem;
  color:white;
  background-color: rgb(12, 107, 185);
  border-radius: 50%;
}
.itinerary .day-5::before{
  content:" 5 ";
  padding: 10px;
  font-size: 22px;
  position: absolute;
  left: 3.7rem;
  color:white;
  background-color: rgb(12, 107, 185);
  border-radius: 50%;
}
.itinerary .day-6::before{
  content:" 6 ";
  padding: 10px;
  font-size: 22px;
  position: absolute;
  left: 3.7rem;
  color:white;
  background-color: rgb(12, 107, 185);
  border-radius: 50%;
}

#inclusions ul{
    list-style-type: none;
}

.inclusions h3{
    color: green;
}

.exclusions h3{
    color: rgba(255, 0, 0, 0.973);
}
.inclusions ul li::before{
    font-family: 'Font Awesome 5 Free';
    content: "\25C9";
    color: green;
    margin-right: 5px;
}

.exclusions ul li::before{
    font-family: 'Font Awesome 5 Free';
    content: "\25C9";
    color: red;
    margin-right: 5px;
}

.qna h6::before{
  font-family: 'Font Awesome 5 Free';
    content: "\25C9";
}

.qty-input {
    color: #000;
    background: #fff;
    display: flex;
    align-items: center;
    /* border: #000 solid 1px; */
    overflow: hidden;
  }
  .qty-input .product-qty,
  .qty-input .qty-count {
    /* border: #000 solid 1px; */
    background: transparent;
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    border: none;
    display: inline-block;
    min-width: 0;
    height: 2.5rem;
    line-height: 1;
  }
  .qty-input .product-qty:focus,
  .qty-input .qty-count:focus {
    outline: none;
  }
  .qty-input .product-qty {
    width: 50px;
    min-width: 0;
    display: inline-block;
    text-align: center;
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  .qty-input .product-qty::-webkit-outer-spin-button, .qty-input .product-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
            appearance: none;
    margin: 0;
  }
  .qty-input .qty-count {
    padding: 0;
    cursor: pointer;
    width: 2.5rem;
    font-size: 1.25em;
    text-indent: -100px;
    overflow: hidden;
    position: relative;
  }
  .qty-input .qty-count:before, .qty-input .qty-count:after {
    content: "";
    height: 2px;
    width: 10px;
    position: absolute;
    display: block;
    background: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .qty-input .qty-count--minus {
    border-right: 1px solid #e2e2e2;
  }
  .qty-input .qty-count--add {
    border-left: 1px solid #e2e2e2;
  }
  .qty-input .qty-count--add:after {
    transform: rotate(90deg);
  }
  .qty-input .qty-count:disabled {
    color: #ccc;
    background: #f2f2f2;
    cursor: not-allowed;
    border-color: transparent;
  }
  .qty-input .qty-count:disabled:before, .qty-input .qty-count:disabled:after {
    background: #ccc;
  }

  form .contact-details label{
    font-size: large;
    font-weight: 600;
  }

  form label{
    font-size: large;
    font-weight: 700;
  }

  form .contact-btn button{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(36, 218, 231) 0%, rgb(5, 151, 248) 50%, rgb(1, 132, 255) 100%);
    color: #ffff
  }
